body {
  font-size: 16px;
  line-height: 30px;
  color: #243f4d;
  @extend %dmsans-500;
}

.container {
  max-width: 1800px;
  margin: 0 auto;
  padding: 0 15px;
}

.container-footer,
.products__container,
.design-container,
.conditions__container,
.about__container,
.team__container,
.shop__container,
.product__container,
.related__container,
.blog__container,
.contact__container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

a {
  font-size: 14px;
  line-height: 26px;
  color: #7b7b7b;
  @extend %rubik-400;
}

.title {
  font-size: 36px;
  line-height: 40px;
  @extend %dmsans-700;
  color: #191919;
}

.partners-bg.partners__inner {
  top: 0;
}

.partners__inner.partners-static{
  .partners__inner{
    top: 0;
  }
}


@media (max-width: 650px) {
  .title {
    font-size: 30px;
    line-height: 36px;
  }
}

@media (max-width: 540px) {
  .title {
    font-size: 26px;
    line-height: 34px;
  }
}

@media (max-width: 420px) {
  .title {
    font-size: 22px;
    line-height: 32px;
  }
}