@import 'vars';
@import 'fonts';
@import 'reset';
@import 'global';

.header {
  padding: 45px 0;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.menu {
  &__list {
    display: flex;
  }

  &__list-item+.menu__list-item {
    padding-left: 35px;
  }

  &__list-link {
    font-size: 15px;
    line-height: 12px;
    color: $blue-l;
    @extend %rubik-400;
  }
}

.user-nav {
  display: flex;
  align-items: center;

  &__link {
    position: relative;
  }

  &__link+.user-nav__link {
    padding-left: 80px;
  }

  &__num {
    position: absolute;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background-color: $white;
    top: -10px;
    right: -8px;
    font-size: 10px;
    line-height: 16px;
    color: $blue;
    text-align: center;
    @extend %dmsans-400;
  }

  &__search {
    position: absolute;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-color: #d7dde2;
    top: -17px;
    right: -16px;
    z-index: -1;
  }

  &__heart-cart {
    position: absolute;
    width: 178px;
    height: 50px;
    border-radius: 25px;
    background-color: #fcd7b6;
    top: -18px;
    left: 49px;
    z-index: -1;
  }

  &__heart-cart:before {
    content: "";
    position: absolute;
    width: 1px;
    height: 32px;
    background-color: #fde7d3;
    top: 9px;
    left: 90px;
  }

  &__link:last-child {
    padding-right: 15px;
  }

  &__ellipse {
    position: absolute;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-color: #a3bbc8;
    top: -16px;
    right: 0;
    z-index: -1;
  }

}

.footer {
  background-color: $white;
}

.footer-top {
  padding: 75px 0;
  border-bottom: 1px solid #dae4e9;
  display: flex;

  &__contact {
    width: 200px;
    margin-right: 100px;
  }

  &__services {
    width: 170px;
    margin-right: 130px;
  }

  &__account {
    width: 100px;
    margin-right: 200px;
  }

  &__item-form {
    width: 270px;
  }

  &__logo {
    padding-bottom: 21px;
    display: block;
  }

  &__adress,
  &__phone,
  &__email {
    padding-bottom: 10px;
    display: block;
  }

  &__title {
    text-transform: uppercase;
    padding-bottom: 6px;
    font-size: 16px;
    color: #1f2044;
    @extend %dmsans-700;
    line-height: 52px;
  }

  &__list-item {
    line-height: 24px;
    padding-bottom: 10px;
  }

  &__text {
    padding-bottom: 35px;
    @extend %rubik-400;
    font-size: 14px;
    line-height: 24px;
    color: #7b7b7b;
  }

  &__form {
    @extend %dmsans-400;
  }

  &__form-input {
    max-width: 170px;
    border: none;
    background-color: #fef7f0;
    font-size: 12px;
    line-height: 20px;
    padding: 13px 14px 14px;
    display: inline-block;

    &::placeholder {
      color: #234969;
    }
  }

  &__form-btn {
    width: 100px;
    border: 0;
    font-size: 14px;
    line-height: 21px;
    color: $white;
    background-color: #a3bbc8;
    padding: 12px 14px 13px;
    display: inline-block;
    margin-left: -5px;
    cursor: pointer;
  }
}

.footer-bottom {
  margin-top: 34px;
  padding-bottom: 40px;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  @extend %rubik-400;
  color: #7b7b7b;

  &__list {
    display: flex;
  }

  &__items {
    padding: 0 15px;
    position: relative;
  }

  &__items+.footer-bottom__items::before {
    content: "";
    position: absolute;
    height: 16px;
    width: 1px;
    background-color: #7b7b7b;
    left: 0;
    top: 6px;
  }
}











@import 'media';