@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';

.header {
  padding: 45px 0;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.menu {
  margin-right: -180px;

  &__list {
    display: flex;
  }

  &__list-item+.menu__list-item {
    padding-left: 35px;
  }

  &__list-link {
    font-size: 15px;
    line-height: 12px;
    color: $blue-l;
    @extend %rubik-500;
  }
}

.user-nav {
  display: flex;
  align-items: center;

  &__link {
    position: relative;
  }

  &__link+.user-nav__link {
    padding-left: 80px;
  }

  &__num {
    position: absolute;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background-color: $white;
    top: -10px;
    right: -8px;
    font-size: 10px;
    line-height: 16px;
    color: $blue;
    text-align: center;
    @extend %dmsans-400;
  }

  &__search {
    position: absolute;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-color: #d7dde2;
    top: -17px;
    right: -16px;
    z-index: -1;
  }

  &__heart-cart {
    position: absolute;
    width: 178px;
    height: 50px;
    border-radius: 25px;
    background-color: #fcd7b6;
    top: -18px;
    left: 49px;
    z-index: -1;
  }

  &__heart-cart:before {
    content: "";
    position: absolute;
    width: 1px;
    height: 32px;
    background-color: #fde7d3;
    top: 9px;
    left: 90px;
  }

  &__link:last-child {
    padding-right: 15px;
  }

  &__ellipse {
    position: absolute;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-color: #a3bbc8;
    top: -16px;
    right: 0;
    z-index: -1;
  }

}

.footer {
  background-color: $white;
}

.footer-top {
  padding: 75px 0;
  border-bottom: 1px solid #dae4e9;
  display: flex;

  &__contact {
    width: 200px;
    margin-right: 100px;
  }

  &__services {
    width: 170px;
    margin-right: 130px;
  }

  &__account {
    width: 100px;
    margin-right: 200px;
  }

  &__item-form {
    width: 270px;
  }

  &__logo {
    padding-bottom: 21px;
    display: block;
  }

  &__adress,
  &__phone,
  &__email {
    padding-bottom: 10px;
    display: block;
  }

  &__title {
    text-transform: uppercase;
    padding-bottom: 6px;
    font-size: 16px;
    color: #1f2044;
    @extend %dmsans-700;
    line-height: 52px;
  }

  &__list-item {
    line-height: 24px;
    padding-bottom: 10px;
  }

  &__text {
    padding-bottom: 35px;
    @extend %rubik-400;
    font-size: 14px;
    line-height: 24px;
    color: #7b7b7b;
  }

  &__form {
    @extend %dmsans-400;
  }

  &__form-input {
    max-width: 170px;
    border: none;
    background-color: #fef7f0;
    font-size: 12px;
    line-height: 20px;
    padding: 13px 14px 14px;
    display: inline-block;

    &::placeholder {
      color: #234969;
    }
  }

  &__form-btn {
    width: 100px;
    border: 0;
    font-size: 14px;
    line-height: 21px;
    color: $white;
    background-color: #a3bbc8;
    padding: 12px 14px 13px;
    display: inline-block;
    margin-left: -5px;
    cursor: pointer;
  }
}

.footer-bottom {
  margin-top: 34px;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  @extend %rubik-400;
  color: #7b7b7b;

  &__list {
    display: flex;
  }

  &__items {
    padding: 0 15px;
    position: relative;
  }

  &__items+.footer-bottom__items::before {
    content: "";
    position: absolute;
    height: 16px;
    width: 1px;
    background-color: #7b7b7b;
    left: 0;
    top: 6px;
  }
}

.top-slider {


  &__inner {
    background-color: #fcd7b6;
    padding-top: 100px;
    padding-bottom: 45px;
  }

  &__item {
    max-width: 1170px;
    display: flex !important;
    justify-content: space-between;
    align-items: flex-end;
    margin: 0 auto;
    padding-bottom: 200px;
  }

  &__title {
    padding-top: 125px;
    font-size: 72px;
    line-height: 70px;
    max-width: 470px;
    color: #243f4d;
    @extend %rubik-500;
  }

  &__text {
    padding-top: 20px;
    font-size: 18px;
    line-height: 30px;
    color: #436372;
    max-width: 370px;
  }

  &__link {
    margin-top: 40px;
    font-size: 15px;
    line-height: 12px;
    padding: 24px 26px;
    @extend %rubik-500;
    width: 200px;
    color: $white;
    background-color: $btn;
    display: inline-block;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      background-image: url('../images/slider/arrow-img.png');
      width: 22px;
      height: 9px;
      right: 17px;
    }
  }

  &__inner-img {
    height: 100%;
    position: relative;

    &::after {
      background-image: url('../images/slider/Ellipse-img.png');
      content: "";
      position: absolute;
      width: 609px;
      height: 634px;
      top: -180px;
      right: -115px;
      z-index: -1;
    }
  }

  .slick-dots {
    display: flex;
    justify-content: center;
    align-items: center;

    li {
      padding: 0 6px;

      button {
        padding: 0;
        font-size: 11px;
        line-height: 8px;
        width: 30px;
        height: 30px;
        border: none;
        border-radius: 50%;
        background-color: $white;
        opacity: .5;
        @extend %rubik-500;
        color: $blue;
        cursor: pointer;
      }

      &.slick-active {
        button {
          opacity: 1;
        }
      }
    }
  }
}

.info {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #fef7f0;
  height: 170px;

  &__item {
    width: 225px;
    position: relative;
  }

  &__item.info__suport::before,
  &__item.info__delivery::before,
  &__item.info__payment::before {
    content: "";
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    left: -85px;
    top: 10px;
  }

  &__item.info__suport::before {
    background-image: url('../images/content/products/info-suport.svg');
    width: 52px;
    height: 54px;
  }

  &__item.info__delivery::before {
    background-image: url('../images/content/products/info-delivery.svg');
    width: 55px;
    height: 37px;
  }

  &__item.info__payment::before {
    background-image: url('../images/content/products/info-payment.svg');
    width: 55px;
    height: 53px;
  }

  &__item-title {
    font-size: 18px;
    line-height: 40px;
    @extend %dmsans-700;
  }

  &__item-text {
    color: #585858;
    line-height: 26px;
    @extend %dmsans-400;
  }
}

.products {
  &__container {
    max-width: 1170px;
    margin: 0 auto;
  }


  &__top {
    text-align: center;
    padding: 70px 0 80px;
  }

  &__title {
    padding-bottom: 10px;
  }

  &__btn {
    background-color: transparent;
    border: none;
    color: #8b8b8b;
    cursor: pointer;
    padding: 15px;
    transition: .3s;
    @extend %dmsans-700;

    &:hover {
      color: $black;
    }
  }

  .mixitup-control-active {
    color: #191919;
  }

  &__content {
    background-color: #f9f9f9;
    box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
    display: grid;
    grid-template-columns: 270px 270px 270px 270px;
    grid-row-gap: 40px;
    grid-column-gap: 30px;
    margin-bottom: 85px;
  }
}

.products-item {
  max-width: 270px;
  height: 380px;
  background-color: #fcfcfc;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: end;

  &__img-box {
    position: relative;
    margin-bottom: 65px;
    overflow: hidden;
  }

  &__img {
    margin: 0 auto;
  }

  &__link-inner {
    position: absolute;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    bottom: 10px;
    transition: all .3s;
  }

  &:hover {
    .products-item__link-box1 {
      transform: translateY(0);
    }

    .products-item__link-box2 {
      transform: translateX(0);
    }

    .products-item__link-box3 {
      transform: translateZ(0);
    }
  }

  &__link-box {
    background-color: #fff;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin: 0 8px;
    align-items: center;
    display: inherit;
    align-items: center;
    justify-content: center;
    transition: all .3s;
    cursor: pointer;

    &:hover {
      .products-item__link {
        path {
          fill: #fff;
        }
      }

      background-color: #a2bac7;
    }
  }

  &__link-box1 {
    transform: translateX(-500%);
  }

  &__link-box2 {
    transform: translateY(-500%);
  }

  &__link-box3 {
    transform: translateX(500%);
  }

  &__link {
    margin-top: 8px;
  }

  &__price {
    margin-bottom: 35px;
    color: #a3bbc8;
    @extend %dmsans-700;
  }
}

.products-proposition {
  max-height: 490px;
  margin-bottom: 50px;

  &__inner {
    display: flex;
    justify-content: space-between;
    overflow: hidden;
  }

  &__item {
    max-width: 870px;
    width: 100%;
    display: flex;
    position: relative;
  }

  &__item+.products-proposition__item {
    margin-left: 30px;
  }

  &__img {
    position: absolute;
    left: 135px;
  }

  &__box {
    width: 100%;
    margin-top: 100px;
    background-color: #feefe2;
    height: 390px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__box-content {
    width: 340px;
    margin-left: auto;
    margin-right: 120px;
  }

  &__title {
    @extend %dmsans-700;
    font-size: 26px;
    margin-bottom: 15px;
  }

  &__text {
    @extend %rubik-400;
    margin-bottom: 30px;
  }

  &__link {
    width: 178px;
    border: 1px solid #b3b7b5;
    border-radius: 5px;
    padding: 16px 18px;
    font-size: 15px;
    color: #436372;
    @extend %rubik-500;
    display: block;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      background-image: url('../images/products/icons/arrow.svg');
      width: 22px;
      height: 9px;
      right: 20px;
      top: 24px;
    }
  }
}

.design {
  margin-top: 100px;
  text-align: center;

  &-container {
    max-width: 1190px;
    margin: 0 auto;
  }

  &__btn {
    background-color: transparent;
    border: none;
    color: #8b8b8b;
    cursor: pointer;
    padding: 15px;
    transition: .3s;
    @extend %dmsans-700;

    &:hover {
      color: $black;
    }
  }

  .mixitup-control-active {
    color: #191919;
  }

  &__content {
    margin: 75px 0 120px;
    display: grid;
    grid-template-columns: 370px 370px 370px;
    grid-gap: 30px;
  }

  &-item {
    max-width: 370px;
    position: relative;
  }

  &-item__content {
    position: absolute;
    padding-left: 35px;
    padding-top: 40px;
    text-align: left;
    top: 0;
  }

  &__title {
    max-width: 175px;
    margin-bottom: 3px;
    font-size: 20px;
    line-height: 26px;
    color: #191919;
    @extend %dmsans-700;
  }

  &__text {
    color: #a3bbc8;
  }
}

.video-design {
  margin-bottom: 115px;

  &__popup {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 500px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.articles {
  &-container {
    max-width: 1190px;
    margin: 0 auto;
    padding: 0 10px;

  }

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
  }

  &__link {
    @extend %dmsans-700;
    color: #262626;
    position: relative;
    padding-right: 20px;
  }

  &__link::after {
    content: ">";
    position: absolute;
    right: 0;
    font-size: 20px;
    top: 0;
  }

  &__items {
    display: flex;
    justify-content: space-between;
  }
}

.article__item {
  max-width: 370px;
  width: 100%;
  box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
  border-radius: 5px;

  &-imglink {
    position: relative;
  }

  &-img {
    height: 250px;
    object-fit: cover;
  }

  &-img--news {
    position: absolute;
    text-transform: uppercase;
    background-color: #a3bbc8;
    padding: 4px 30px;
    border-radius: 25px;
    color: #fff;
    top: 228px;
    left: 28px;
    font-size: 14px;
    @extend %dmsans-700;
  }

  &-box {
    background-color: #fff;
    padding: 30px 27px 20px 27px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 170px;
  }

  &-box-title {
    margin-bottom: 10px;
  }

  &-title {
    max-width: 285px;
    @extend %dmsans-500;
    font-size: 18px;
    color: #262626;
  }

  &-info {
    display: flex;
    justify-content: flex-start;
    text-transform: uppercase;
    align-items: center;
    border-top: 1px solid #e0e0e0;
  }

  &-data,
  &-author {
    font-size: 12px;
    @extend %rubik-400;
    color: #222933;
    padding-left: 15px;
    position: relative;
  }

  &-data::before,
  &-author::before {
    content: "ÔÅ≥";
    position: absolute;
    height: 9px;
    width: 6px;
    left: 0;
    top: 0;
  }

  &-data {
    margin-right: 30px;
  }
}

.partners {
  padding: 85px 0;
  position: relative;

  &__container {
    max-width: 1190px;
    margin: 0 auto;
    padding: 0 10px;
  }

  &__items {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  &__inner {
    
    background-repeat: no-repeat;
    background-size: cover;
    height: 440px;
    position: absolute;
    top: -170px;
    width: 100%;
    z-index: -1;
  }
}

















@import 'media';