<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Glee</title>
  <link rel="stylesheet" href="css/about-us.min.css">
  <link rel="stylesheet" href="css/style.min.css">
</head>

<body>

 {% include 'app/module/_header/_header.html' %}

  <main>

    <section class="top">
      <div class="container">
        <h2 class="top__title">
          About Us
        </h2>
        <div class="breadcrumbs">
          <ul class="breadcrumbs__list">
            <li class="breadcrumbs__item">
              <a href="" class="breadcrumbs__link">Home</a>
            </li>
            <li class="breadcrumbs__item">
              <a href="" class="breadcrumbs__link">About Us</a>
            </li>
          </ul>
        </div>
      </div>
    </section>

    <section class="about">
      <div class="about__inner">
        <div class="about__container">


          <div class="about-info">
            <img class="about-info__img" src="images/about/about-img.jpg" alt="image about">
            <div class="about-info__content">
              <div class="about-info__experience">
                <span class="about-info__experience-num">12</span>
                <p class="about-info__experience-text">
                  Years
                  Experience
                  Working
                </p>
              </div>
              <h3 class="about-info__title">
                Mission of our creative house
              </h3>
              <p class="about-info__text">
                consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
                ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
                aute irure dolor in reprehenderit in voluptate velit esse cillum
              </p>
              <div class="about-info__numbers">
                <div class="about-info__num about-info__projects">
                  520+
                  <span class="about-info__descr">Projects</span>
                </div>
                <div class="about-info__num about-info__revenue">
                  $4M
                  <span class="about-info__descr">Revenue</span>
                </div>
                <div class="about-info__num about-info__awards">
                  250
                  <span class="about-info__descr">Awards</span>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="about-numbers">
          <div class="about__container">
            <div class="about-numbers__content">
              <div class="about-numbers__item">
                <img class="about-numbers__icon" src="images/about/icons/rate.svg" alt="rate images">
                <div class="about-numbers__num">
                  99%
                  <span class="about-numbers__descr">
                    Satisﬁed Clients Rate
                  </span>
                </div>
              </div>

              <div class="about-numbers__item">
                <img class="about-numbers__icon" src="images/about/icons/delivered.svg" alt="rate images">
                <div class="about-numbers__num">
                  5020+
                  <span class="about-numbers__descr">
                    Products Delivered
                  </span>
                </div>
              </div>

              <div class="about-numbers__item">
                <img class="about-numbers__icon" src="images/about/icons/time.svg" alt="rate images">
                <div class="about-numbers__num">
                  23hr
                  <span class="about-numbers__descr">
                    Daily Working Time
                  </span>
                </div>
              </div>

              <div class="about-numbers__item">
                <img class="about-numbers__icon" src="images/about/icons/brands.svg" alt="rate images">
                <div class="about-numbers__num">
                  140+
                  <span class="about-numbers__descr">
                    Brands in Store
                  </span>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="team">
      <div class="team__container">
        <div class="team__inner">
          <div class="team__content">
            <h3 class="team__title">
              Our Team
            </h3>
            <p class="team__text">
              Lorem ipsum dolor sit amet, conse ctetur adipi sicing elit, sed do eiusmod tempor inciLorem ipsum dolor
              sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
              Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commod
              consequat.
            </p>
            <a class="team__link" href="#">
              Join With US
            </a>
          </div> 
          <div class="team-personnel">

            <div class="team-personnel__item">
              <img class="team-personnel__img" src="images/about/team/1.jpg" alt="team photos">
              <div class="team-personnel__info">
                <div class="team-personnel__box">
                  <a class="team-personnel__namelink" href="#">
                    <h6 class="team-personnel__name">Eliza Elliot</h6>
                  </a>
                  <p class="team-personnel__position">
                    Commodo tempor
                  </p>
                </div>
                <div class="team-personnel__links">
                  <a class="team-personnel__link" href="#">
                    <img class="team-personnel__link-instagram" src="images/about/icons/instagram-icon.svg"
                      alt="instagram icon">
                  </a>
                  <a class="team-personnel__link" href="#">
                    <img class="team-personnel__link-instagram" src="images/about/icons/google-icon.svg"
                      alt="google icon">
                  </a>
                </div>
              </div>
            </div>

            <div class="team-personnel__item">
              <img class="team-personnel__img" src="images/about/team/2.jpg" alt="team photos">
              <div class="team-personnel__info">
                <div class="team-personnel__box">
                  <a class="team-personnel__namelink" href="#">
                    <h6 class="team-personnel__name">Roscoe A.</h6>
                  </a>
                  <p class="team-personnel__position">
                    Commodo tempor
                  </p>
                </div>
                <div class="team-personnel__links">
                  <a class="team-personnel__link" href="#">
                    <img class="team-personnel__link-instagram" src="images/about/icons/instagram-icon.svg"
                      alt="instagram icon">
                  </a>
                  <a class="team-personnel__link" href="#">
                    <img class="team-personnel__link-instagram" src="images/about/icons/google-icon.svg"
                      alt="google icon">
                  </a>
                </div>
              </div>
            </div>

            <div class="team-personnel__item">
              <img class="team-personnel__img" src="images/about/team/3.jpg" alt="team photos">
              <div class="team-personnel__info">
                <div class="team-personnel__box">
                  <a class="team-personnel__namelink" href="#">
                    <h6 class="team-personnel__name">Ruby M.</h6>
                  </a>
                  <p class="team-personnel__position">
                    Commodo tempor
                  </p>
                </div>
                <div class="team-personnel__links">
                  <a class="team-personnel__link" href="#">
                    <img class="team-personnel__link-instagram" src="images/about/icons/instagram-icon.svg"
                      alt="instagram icon">
                  </a>
                  <a class="team-personnel__link" href="#">
                    <img class="team-personnel__link-instagram" src="images/about/icons/google-icon.svg"
                      alt="google icon">
                  </a>
                </div>
              </div>
            </div>

            <div class="team-personnel__item">
              <img class="team-personnel__img" src="images/about/team/4.jpg" alt="team photos">
              <div class="team-personnel__info">
                <div class="team-personnel__box">
                  <a class="team-personnel__namelink" href="#">
                    <h6 class="team-personnel__name">Marie F. Bloss</h6>
                  </a>
                  <p class="team-personnel__position">
                    Commodo tempor
                  </p>
                </div>
                <div class="team-personnel__links">
                  <a class="team-personnel__link" href="#">
                    <img class="team-personnel__link-instagram" src="images/about/icons/instagram-icon.svg"
                      alt="instagram icon">
                  </a>
                  <a class="team-personnel__link" href="#">
                    <img class="team-personnel__link-instagram" src="images/about/icons/google-icon.svg"
                      alt="google icon">
                  </a>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </section>

    {% include 'app/module/_articles/_articles.html' %}

    {% include 'app/module/_partners/_partners.html' %}
      
  </main>

   {% include 'app/module/_footer/_footer.html' %}

  <script src="js/main.min.js"></script>
</body>

</html>