<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Page </title>
  <link rel="stylesheet" href="css/blog.min.css">
  <link rel="stylesheet" href="css/style.min.css">
</head>

<body>

 {% include 'app/module/_header/_header.html' %}

  <main>

    <section class="top">
      <div class="container">
        <h2 class="top__title">
          Blog
        </h2>
        <div class="breadcrumbs">
          <ul class="breadcrumbs__list">
            <li class="breadcrumbs__item">
              <a href="" class="breadcrumbs__link">Home</a>
            </li>
            <li class="breadcrumbs__item">
              <a href="" class="breadcrumbs__link">Blog</a>
            </li>
          </ul>
        </div>
      </div>
    </section>

    <section class="blog">
      <div class="blog__container">
        <div class="blog__inner">

          <div class="blog__content">

            <div class="blog__items">

              <div class="blog__item">
                <div class="blog__item-img--box">
                  <a class="blog__item-img--link" href="#">
                    <img class="blog__item-img" src="images/blog/1.jpg" alt="blog images">
                  </a>
                  <div class="box-info">
                    <div class="box-info__date">
                      28 JANUARY, 2020
                    </div>
                    <a class="box-info__author" href="#">
                      BY ADMIN
                    </a>
                  </div>
                </div>
                <h3 class="blog__item-title">
                  Fonsectetur adipisicing eiusmod
                </h3>
                <p class="blog__item-text">
                  consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                  enim
                  ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut alLorem ipsum dolor sit amet,
                  consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                </p>
                <a class="blog__item-link" href="#">
                  View More

                  <svg xmlns="http://www.w3.org/2000/svg" width="22" height="9" viewBox="0 0 22 9">
                    <defs>
                      <style>
                        .cls-1 {
                          fill: #a3bbc8;
                          fill-rule: evenodd;
                        }
                      </style>
                    </defs>
                    <path class="cls-1"
                      d="M1509.3,1332.47h16.94l-0.1,2.86a0.3,0.3,0,0,0-.08.2,0.323,0.323,0,0,0,.08.21l0.18,0.17a0.267,0.267,0,0,0,.4,0l4.2-4.21a0.3,0.3,0,0,0,.08-0.2,0.323,0.323,0,0,0-.08-0.21l-4.2-4.21a0.29,0.29,0,0,0-.4,0l-0.18.17a0.323,0.323,0,0,0-.08.21,0.318,0.318,0,0,0,.08.2l0.12,2.86h-16.97a0.3,0.3,0,0,0-.29.3v1.37A0.291,0.291,0,0,0,1509.3,1332.47Z"
                      transform="translate(-1509 -1327)" />
                  </svg>

                </a>
              </div>

              <div class="blog__item">
                <div class="blog__item-img--box">
                  <a class="blog__item-img--link" href="#">
                    <img class="blog__item-img" src="images/blog/2.jpg" alt="blog images">
                  </a>
                  <div class="box-info">
                    <div class="box-info__date">
                      28 JANUARY, 2020
                    </div>
                    <a class="box-info__author" href="#">
                      BY ADMIN
                    </a>
                  </div>
                </div>
                <h3 class="blog__item-title">
                  Fonsectetur adipisicing eiusmod
                </h3>
                <p class="blog__item-text">
                  consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                  enim
                  ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut alLorem ipsum dolor sit amet,
                  consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                </p>
                <a class="blog__item-link" href="#">
                  View More

                  <svg xmlns="http://www.w3.org/2000/svg" width="22" height="9" viewBox="0 0 22 9">
                    <defs>
                      <style>
                        .cls-1 {
                          fill: #a3bbc8;
                          fill-rule: evenodd;
                        }
                      </style>
                    </defs>
                    <path class="cls-1"
                      d="M1509.3,1332.47h16.94l-0.1,2.86a0.3,0.3,0,0,0-.08.2,0.323,0.323,0,0,0,.08.21l0.18,0.17a0.267,0.267,0,0,0,.4,0l4.2-4.21a0.3,0.3,0,0,0,.08-0.2,0.323,0.323,0,0,0-.08-0.21l-4.2-4.21a0.29,0.29,0,0,0-.4,0l-0.18.17a0.323,0.323,0,0,0-.08.21,0.318,0.318,0,0,0,.08.2l0.12,2.86h-16.97a0.3,0.3,0,0,0-.29.3v1.37A0.291,0.291,0,0,0,1509.3,1332.47Z"
                      transform="translate(-1509 -1327)" />
                  </svg>
                </a>
              </div>

              <div class="blog__item">
                <div class="blog__item-img--box">
                  <a class="blog__item-img--link" href="#">
                    <img class="blog__item-img" src="images/blog/3.jpg" alt="blog images">
                  </a>
                  <div class="box-info">
                    <div class="box-info__date">
                      28 JANUARY, 2020
                    </div>
                    <a class="box-info__author" href="#">
                      BY ADMIN
                    </a>
                  </div>
                </div>
                <h3 class="blog__item-title">
                  Fonsectetur adipisicing eiusmod
                </h3>
                <p class="blog__item-text">
                  consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                  enim
                  ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut alLorem ipsum dolor sit amet,
                  consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                </p>
                <a class="blog__item-link" href="#">
                  View More

                  <svg xmlns="http://www.w3.org/2000/svg" width="22" height="9" viewBox="0 0 22 9">
                    <defs>
                      <style>
                        .cls-1 {
                          fill: #a3bbc8;
                          fill-rule: evenodd;
                        }
                      </style>
                    </defs>
                    <path class="cls-1"
                      d="M1509.3,1332.47h16.94l-0.1,2.86a0.3,0.3,0,0,0-.08.2,0.323,0.323,0,0,0,.08.21l0.18,0.17a0.267,0.267,0,0,0,.4,0l4.2-4.21a0.3,0.3,0,0,0,.08-0.2,0.323,0.323,0,0,0-.08-0.21l-4.2-4.21a0.29,0.29,0,0,0-.4,0l-0.18.17a0.323,0.323,0,0,0-.08.21,0.318,0.318,0,0,0,.08.2l0.12,2.86h-16.97a0.3,0.3,0,0,0-.29.3v1.37A0.291,0.291,0,0,0,1509.3,1332.47Z"
                      transform="translate(-1509 -1327)" />
                  </svg>
                </a>
              </div>

              <div class="blog__item">
                <div class="blog__item-img--box">
                  <a class="blog__item-img--link" href="#">
                    <img class="blog__item-img" src="images/blog/4.jpg" alt="blog images">
                  </a>
                  <div class="box-info">
                    <div class="box-info__date">
                      28 JANUARY, 2020
                    </div>
                    <a class="box-info__author" href="#">
                      BY ADMIN
                    </a>
                  </div>
                </div>
                <h3 class="blog__item-title">
                  Fonsectetur adipisicing eiusmod
                </h3>
                <p class="blog__item-text">
                  consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                  enim
                  ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut alLorem ipsum dolor sit amet,
                  consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                </p>
                <a class="blog__item-link" href="#">
                  View More

                  <svg xmlns="http://www.w3.org/2000/svg" width="22" height="9" viewBox="0 0 22 9">
                    <defs>
                      <style>
                        .cls-1 {
                          fill: #a3bbc8;
                          fill-rule: evenodd;
                        }
                      </style>
                    </defs>
                    <path class="cls-1"
                      d="M1509.3,1332.47h16.94l-0.1,2.86a0.3,0.3,0,0,0-.08.2,0.323,0.323,0,0,0,.08.21l0.18,0.17a0.267,0.267,0,0,0,.4,0l4.2-4.21a0.3,0.3,0,0,0,.08-0.2,0.323,0.323,0,0,0-.08-0.21l-4.2-4.21a0.29,0.29,0,0,0-.4,0l-0.18.17a0.323,0.323,0,0,0-.08.21,0.318,0.318,0,0,0,.08.2l0.12,2.86h-16.97a0.3,0.3,0,0,0-.29.3v1.37A0.291,0.291,0,0,0,1509.3,1332.47Z"
                      transform="translate(-1509 -1327)" />
                  </svg>
                </a>
              </div>
            </div>

            <div class="pagination">
              <div class="pagination__items">
                <div class="pagination__item pagination__item--active">
                  <a class="pagination__link pagination__link--active" href="#">1</a>
                </div>
                <div class="pagination__item">
                  <a class="pagination__link" href="#">2</a>
                </div>
                <div class="pagination__item">
                  <a class="pagination__link" href="#">3</a>
                </div>
              </div>
              <a class="pagination__next" href="#">Next</a>
            </div>
          </div>

          <div class="blog__aside">

            <div class="search">
              <form class="search__form" action="#">
                <input class="search__input" type="text">
                <button class="search__btn" type="submit">
                  <img class="search__img" src="images/icons/blog-search.svg" alt="search icon">
                </button>
              </form>
            </div>

            <div class="filter-category filter__item">
              <h3 class="filter__title">
                CATEGORY
              </h3>
              <form class="filter-category__form" action="#">
                <label class="filter-category__label">
                  <input class="filter-category__input" type="checkbox" checked>
                  <div class="filter-category__checkbox">
                    <span>Chair</span>
                  </div>
                </label>
                <label class="filter-category__label">
                  <input class="filter-category__input" type="checkbox">
                  <div class="filter-category__checkbox">
                    <span>Table</span>
                  </div>
                </label>
                <label class="filter-category__label">
                  <input class="filter-category__input" type="checkbox">
                  <div class="filter-category__checkbox">
                    <span>Lamp</span>
                  </div>
                </label>
                <label class="filter-category__label">
                  <input class="filter-category__input" type="checkbox">
                  <div class="filter-category__checkbox">
                    <span>Watch</span>
                  </div>
                </label>
                <label class="filter-category__label">
                  <input class="filter-category__input" type="checkbox">
                  <div class="filter-category__checkbox">
                    <span>Clock</span>
                  </div>
                </label>
              </form>
            </div>

            <div class="recent-post">
              <h4 class="recent-post__title">
                Recent Posts
              </h4>

              <div class="recent-post__item">
                <a class="recent-post__item-link" href="#">
                  <img class="recent-post__img" src="images/blog/aside-1.jpg" alt="recent post img">
                </a>
                <div class="recent-post__box">
                  <a class="recent-post__item-title" href="#">
                    Corem ipsum dolor tetur adipisicing elit
                  </a>
                  <div class="recent-post__item-date">
                    28 JANUARY, 2020
                  </div>
                </div>
              </div>

              <div class="recent-post__item">
                <a class="recent-post__item-link" href="#">
                  <img class="recent-post__img" src="images/blog/aside-2.jpg" alt="recent post img">
                </a>
                <div class="recent-post__box">
                  <a class="recent-post__item-title" href="#">
                    Corem ipsum dolor tetur adipisicing elit
                  </a>
                  <div class="recent-post__item-date">
                    28 JANUARY, 2020
                  </div>
                </div>
              </div>

              <div class="recent-post__item">
                <a class="recent-post__item-link" href="#">
                  <img class="recent-post__img" src="images/blog/aside-3.jpg" alt="recent post img">
                </a>
                <div class="recent-post__box">
                  <a class="recent-post__item-title" href="#">
                    Corem ipsum dolor tetur adipisicing elit
                  </a>
                  <div class="recent-post__item-date">
                    28 JANUARY, 2020
                  </div>
                </div>
              </div>

              <div class="recent-post__item">
                <a class="recent-post__item-link" href="#">
                  <img class="recent-post__img" src="images/blog/aside-4.jpg" alt="recent post img">
                </a>
                <div class="recent-post__box">
                  <a class="recent-post__item-title" href="#">
                    Corem ipsum dolor tetur adipisicing elit
                  </a>
                  <div class="recent-post__item-date">
                    28 JANUARY, 2020
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </section>

     {% include 'app/module/_partners/_partners.html' %}

  </main> 

  {% include 'app/module/_footer/_footer.html' %}

  <script src="js/main.min.js"></script>
</body>

</html>