<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Glee</title>
  <link rel="stylesheet" href="css/conditions.min.css">
</head>

<body>

  {% include 'app/module/_header/_header.html' %}

  <main>
    
    <section class="top">
      <div class="container">
        <h2 class="top__title">
          Terms & Conditions
        </h2>
        <div class="breadcrumbs">
          <ul class="breadcrumbs__list">
            <li class="breadcrumbs__item">
              <a href="" class="breadcrumbs__link">Home</a>
            </li>
            <li class="breadcrumbs__item">
              <a href="" class="breadcrumbs__link">Terms & Conditions</a>
            </li>
          </ul>
        </div>
      </div>
    </section>

    <section class="conditions">
      <div class="conditions__container">
        <div class="conditions__inner">

          <div class="conditions__item-box">
            <h3 class="conditions__title">
              Types of Personal Information We Collect
            </h3>
            <ul class="conditions__list">
              <li class="conditions__item">
                <p class="conditions__text">
                  Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore 
                </p>
              </li>
              <li class="conditions__item">
                <p class="conditions__text">
                  Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore 
                </p>
              </li>
              <li class="conditions__item">
                <p class="conditions__text">
                  Consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                </p>
              </li>
              <li class="conditions__item">
                <p class="conditions__text">
                  Dagna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
                </p>
              </li>
              <li class="conditions__item">
                <p class="conditions__text">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod 
                </p>
              </li>
            </ul>
           
          </div>

          <div class="conditions__item-box">
            <h3 class="conditions__title">
              How marketpmss.com Collects Personal Infonnation
            </h3>
            <p class="conditions__text">
              consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore 
            </p>
          </div>

          <div class="conditions__item-box">
            <h3 class="conditions__title">
              How marketprosscom Uses Personal Information
            </h3>
            <p class="conditions__text">
              consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore 
            </p>
          </div>

        </div>
      </div>
    </section>

    <section class="articles">
      <div class="articles-container">
        <div class="articles__inner">
          <h2 class="title">
            Our Insights & Articles
          </h2>
          <a class="articles__link" href="">
            View All
          </a>
        </div>

        <div class="articles__items">

          <div class="articles__item">
            <div class="articles__item-box">
              <a class="articles__item-link" href="#">
                <img class="articles__item-img" src="images/article/1.jpg" alt="articles image">
              </a>
              <a class="articles-linknews" href="#">
                <span class="articles-news">NEWS</span>
              </a>
            </div>
            <div class="articles__item-inner">
              <div class="articles__inner-content">

                <a class="articles__content-link" href="#">
                  <h4 class="articles__content-title">
                    Diusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
                  </h4>
                </a>
              </div>
              <div class="articles__info">
                <div class="articles__info-data">
                  28 JANUARY, 2020
                </div>
                <a class="articles__info-author" href="#">
                  BY ADMIN
                </a>
              </div>
            </div>
          </div>


          <div class="articles__item">
            <div class="articles__item-box">
              <a class="articles__item-link" href="#">
                <img class="articles__item-img" src="images/article/1.jpg" alt="articles image">
              </a>
              <a class="articles-linknews" href="#">
                <span class="articles-news">NEWS</span>
              </a>
            </div>
            <div class="articles__item-inner">
              <div class="articles__inner-content">

                <a class="articles__content-link" href="#">
                  <h4 class="articles__content-title">
                    Diusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
                  </h4>
                </a>
              </div>
              <div class="articles__info">
                <div class="articles__info-data">
                  28 JANUARY, 2020
                </div>
                <a class="articles__info-author" href="#">
                  BY ADMIN
                </a>
              </div>
            </div>
          </div>

          <div class="articles__item">
            <div class="articles__item-box">
              <a class="articles__item-link" href="#">
                <img class="articles__item-img" src="images/article/1.jpg" alt="articles image">
              </a>
              <a class="articles-linknews" href="#">
                <span class="articles-news">NEWS</span>
              </a>
            </div>
            <div class="articles__item-inner">
              <div class="articles__inner-content">

                <a class="articles__content-link" href="#">
                  <h4 class="articles__content-title">
                    Diusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
                  </h4>
                </a>
              </div>
              <div class="articles__info">
                <div class="articles__info-data">
                  28 JANUARY, 2020
                </div>
                <a class="articles__info-author" href="#">
                  BY ADMIN
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      </div>
    </section>

    <div class="partners">
      <div class="partners__container">
        <div class="partners__items">
          <div class="partners__item">
            <img class="partners__item-img" src="images/partners/1.png" alt="partners image">
          </div>
          <div class="partners__item">
            <img class="partners__item-img" src="images/partners/2.png" alt="partners image">
          </div>
          <div class="partners__item">
            <img class="partners__item-img" src="images/partners/3.png" alt="partners image">
          </div>
          <div class="partners__item">
            <img class="partners__item-img" src="images/partners/4.png" alt="partners image">
          </div>
          <div class="partners__item">
            <img class="partners__item-img" src="images/partners/5.png" alt="partners image">
          </div>
        </div>
      </div>
      <div class="partners__inner " style="background-image: url('images/partners-bg.jpg');"></div>
    </div>

  </main>

  {% include 'app/module/_footer/_footer.html' %}

  <script src="js/main.min.js"></script>
</body>

</html>